doctype html
html
	head
		title hello Jade!!
		include commonCss
		include commonJs
body
	include header
	div#body
		div#bodyContainer
			div#galaryStage
		#form(style="float:right")
			form(action="http://localhost:3000/upload" , method="post", enctype="multipart/form-data")
				input(type="file")
				input(type="submit")
	include footer